.headerContainer{
    height: 110px;
    width: 100%;
}

.globalNavigationContainer {
    width: 70%;
    float: left;
}

.shortCutsContainer {
    width: 29%;
    float: left;
    padding-top: 10px;
}

.searchBoxContainer {
    clear: both;
}